@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
	width: 8.25in;
	height: 11.75in;
	margin: 0 0 0 0;
}

@media print {
	body {
		width: 8.25in;
		height: 11.75in;
		margin: 0 0 0 0;
	}
}
